{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} | Liste des Factures d'Hébergement {% endblock %}

{% block body -%}
<div class="alert alert-info" role="alert" style="font-size: 18px">Liste des Dates d'Hébergement </div>
<div class="row">
    <div class="col-md-6">
        <i class="fa fa-plus-square fa-3x" data-toggle="modal"
           data-target="#modalForm" title="Ajouter" style="color:
        #0FAD8C;cursor: pointer;"></i>
    </div>
    <div class="col-md-6">
        <i title="Imprimer" class="fa fa-print fa-3x" onclick="common().print('noprint', 'Liste des Factures d\'Hébergement')" style="float: right; cursor: pointer; margin-right: 2%"></i>
    </div>
</div><br />

<table class="table table-hover table-bordered dataTable" id="routerDate" data-route="facturereception_show">
    <thead>
    <tr>
        <th style="text-align: center">Date</th>
        <th class="noprint" style="text-align: center">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td style="text-align: center">{{ entity.updatedAt|date('d/m/y') }}</td>
            <td class="noprint" style="text-align: center">
                <a href="{{ path('facturereception_show', {'id' : entity.id}) }}">
                    <i title="Voir" style="cursor: pointer; margin-right: 4%" class="fa fa-eye fa-2x"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="modalForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert alert-info">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Enregistrement d'une Facture d'hébergement</h4>
            </div>
            {{ form_start(form) }}
            <div class="modal-body">
                {{ form_errors(form) }}

                {{ form_row(form.chambre) }}
                {{ form_row(form.client) }}
                {{ form_label(form.dateArrive) }}
                <div class="form-group">
                    <div class='input-group date datetimepicker' id="checkDate" data-employe="">
                        {{ form_widget(form.dateArrive) }}
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                {{ form_label(form.dateDepart) }}
                <div class="form-group">
                    <div class='input-group date datetimepicker' id="checkDate" data-employe="">
                        {{ form_widget(form.dateDepart) }}
                        <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </span>
                    </div>
                </div>
                {{ form_row(form.qtePers) }}
                {{ form_row(form.montant) }}

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                    {{ form_widget(form.submit, { 'label': 'Enregister', 'attr' :{'type' : 'button', 'class' :'btn btn-primary register'}})}}

                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
    {% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript"  src="{{ asset('js/lib/common.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/moment/min/moment-with-locales.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js')}}"></script>
        <script type="text/javascript" src="{{ asset('assets/vendor/bootstrap-multiselect/dist/js/bootstrap-multiselect.js')}}"></script>
        <script>
            {% for flashMessage in app.session.flashbag.get('success') %}
                common().notice('{{ flashMessage }}','ok');
            {% endfor %}
            common().date();
            $('.multiselectOne').multiselect({
                enableFiltering: true,
                nonSelectedText: 'Aucun Choix'
            });
            $(".modal-body .btn-group").css({'width' : '80%', 'margin-left' : '5%','margin-bottom': '2%'});
            common().dataTable(0);
            $("form").validate();
            common().validation();
        </script>

    {% endblock %}
