{% extends '::base.html.twig' %}

{% block title %} {{ parent() }} | Liste des Factures d'Hébergement {% endblock %}

{% block body -%}
    <div class="alert alert-info" role="alert" style="font-size: 18px">Liste des Factures d'Hébergement du {{ entityDate.updatedAt|date('d/m/y') }}</div>
    <div class="row">
        <div class="col-md-6">
            <a href="{{ path('facturereception_informations' ) }}">
                <i class="fa fa-backward fa-3x" title="Revenir à la liste" style="color:
        #0FAD8C;cursor: pointer;"></i>
            </a>
        </div>
        <div class="col-md-6">
            <i title="Imprimer" class="fa fa-print fa-3x" onclick="common().print('noprint', 'Liste des Factures d\'Hébergement')" style="float: right; cursor: pointer; margin-right: 2%"></i>
        </div>
    </div><br />

    <table class="table table-hover table-bordered dataTable">
        <thead>
        <tr>
            <th style="text-align: center">Arrivée</th>
            <th style="text-align: center">Départ</th>
            <th style="text-align: center">Client</th>
            <th style="text-align: center">Chambre</th>
            <th style="text-align: center">Nbre Personnes</th>
            <th style="text-align: center">Montant</th>
            <th style="text-align: center">Payé ?</th>
            <th style="text-align: center">Statut</th>
            <th style="text-align: center">Réceptionniste</th>
            <th class="noprint" style="text-align: center">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr {% if entity.del == 1 %} class="danger" {% endif %}>
                <td style="text-align: center">{{ entity.dateArrive }}</td>
                <td style="text-align: center">{{ entity.dateDepart }}</td>
                <td style="text-align: center">{{ entity.client }}</td>
                <td style="text-align: center">{{ entity.chambre }}</td>
                <td style="text-align: center">{{ entity.qtePers }}</td>
                <td style="text-align: center">{{ entity.montant }} <b>FCFA</b></td>
                <td style="text-align: center">
                    {% if entity.paye == 1 %}
                        <button type="button" class="btn btn-danger">
                            <a style="color:white" href="
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ path('facturereception_valid_paie', {'id' : entity.id, 'valid' : 0, 'idDate' : entityDate.id}) }}
                        {% else %}
                            #
                        {% endif %}
                            ">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Non
                            </a>
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-success">
                            <a style="color:white" href="
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ path('facturereception_valid_paie', {'id' : entity.id, 'valid' : 1, 'idDate' : entityDate.id}) }}
                        {% else %}
                            #
                        {% endif %}
                            ">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Oui
                            </a>
                        </button>
                    {% endif %}
                </td>
                <td style="text-align: center">
                    {% if entity.statut == 1 %}
                        <button type="button" class="btn btn-danger">
                            <a style="color:white" href="
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ path('facturereception_valid_occupation', {'id' : entity.id, 'valid' : 0, 'idChambre' : entity.chambre.id, 'idDate' : entityDate.id}) }}
                        {% else %}
                            #
                        {% endif %}
                            ">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Occupée
                            </a>
                        </button>
                    {% else %}
                        <button type="button" class="btn btn-success">
                            <a style="color:white" href="
                        {% if is_granted('ROLE_ADMIN') %}
                            {{ path('facturereception_valid_occupation', {'id' : entity.id, 'valid' : 1, 'idChambre' : entity.chambre.id, 'idDate' : entityDate.id}) }}
                        {% else %}
                            #
                        {% endif %}
                            ">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Libre
                            </a>
                        </button>
                    {% endif %}
                </td>
                <td style="text-align: center">{{ entity.receptionniste }}</td>
                <td class="noprint" style="text-align: center">
                    <a href="{{ path('reservation_show', {'id' : entity.id}) }}">
                        <i title="Modifier" style="cursor: pointer; margin-right: 4%" class="fa fa-eye fa-2x"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script type="text/javascript"  src="{{ asset('js/lib/common.js')}}"></script>
        <script>
            {% for flashMessage in app.session.flashbag.get('success') %}
            common().notice('{{ flashMessage }}','ok');
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
            common().notice('{{ flashMessage }}','ko');
            {% endfor %}
            common().dataTable(0);
        </script>

    {% endblock %}
