{% extends 'baseClient.html.twig' %}


{% block banner %}
    <div class="banner">
        <div class="banner-info text-center">
            <h3><label>BONJOUR,</label> Bienvenue</h3>
            <h1>HOTEL INDRA</h1>
            {#<canvas id="myCanvas" style="height: 150px"></canvas>#}
            <span></span>
            <ul>
                <li><a class="scroll" href="#">HEBERGEMENT</a><i class="line"></i></li>
                <li><a class="scroll" href="#">TOURISME</a><i class="line2"></i></li>
                <li><a class="scroll" href="#">RESTAURANT</a></li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="online_reservation">
        <div class="b_room">
            <div class="booking_room">
                <div class="reservation">
                    <ul>
                        <li  class="span1_of_1 left">
                            <h5>Arrival</h5>
                            <div class="book_date">
                                <form>
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    <input type="date" value="Select date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Select date';}">
                                </form>
                            </div>
                        </li>
                        <li  class="span1_of_1 left">
                            <h5>Departure</h5>
                            <div class="book_date">
                                <form>
                                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                    <input type="date" value="Select date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Select date';}">
                                </form>
                            </div>
                        </li>
                        <li class="span1_of_1">
                            <h5>Room type</h5>
                            <!----------start section_room----------->
                            <div class="section_room">
                                <select id="country" onchange="change_country(this.value)" class="frm-field required">
                                    <option value="null">Standard Single Room</option>
                                    <option value="null">Suite room</option>
                                    <option value="AX">Single room</option>
                                    <option value="AX">Double room</option>
                                </select>
                            </div>
                        </li>
                        <li class="span1_of_3">
                            <div class="date_btn">
                                <form>
                                    <input type="submit" value="View Prices" />
                                </form>
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    </div>

<!---->
    <div class="package text-center">
    <div class="container">
        <h3 style="font-family: cursive;">Nos Services</h3>
        <p>Chez Indra Hotel, nous mettons de nombreux services à la disposition de nos Clients dans le but de sastifaire votre séjour dans nos locaux
         car vous etes au centre de nos préoccupations et notre devoir est de vous sastifaire.
         Tous Ces Services sont disponibles quelque Soit le type de logement</p>
        <div id="owl-demo" class="owl-carousel">
            <div class="item text-center image-grid">
                <ul>
                    <li><img src="{{ asset('img/bar.jpg')}}" title="Bar"></li>
                    <li><img src="{{ asset('img/restauration.jpg')}}" title="Restauration"></li>
                </ul>
            </div>
            <div class="item text-center image-grid">
                <ul>
                    <li> <img src="{{ asset('img/taxi.jpg')}}" alt="Transport"></li>
                    <li><img src="{{ asset('img/tourisme.jpg')}}" alt="Tourisme"></li>
                </ul>
            </div>
            <div class="item text-center image-grid">
                <ul>
                    <li> <img src="{{ asset('img/wifi.jpg')}}" alt="Internet"></li>
                    <li><img src="{{ asset('img/fidelite.jpg')}}" title="Carte de Fidelité"></li>
                </ul>
            </div>
            <div class="item text-center image-grid">
                <ul>
                    <li> <img src="{{ asset('img/lingerie.jpg')}}" alt="Lave Linge"></li>
                    <li><img src="{{ asset('img/repassage.jpg')}}" alt="Repassage de Linge"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!---->
<!---->
    <div class="rooms text-center">
    <div class="container">
        <h3>Our Room Types</h3>
        <div class="room-grids">
            {% for entity in entities %}
                <div class="col-md-6 room-sec">
                    <a href="{{ path('chambre_show', {'id' : entity.id}) }}">
                        <img width="350px" height="160px" src="{{ app.request.basePath }}{{ vich_uploader_asset(entity, 'imageFile') }}" alt=""/>
                    </a>
                    <a href="{{ path('chambre_show', {'id' : entity.id}) }}"><h4>{{ entity.nom }}</h4></a>
                    <p>{{ entity.description|slice(0, 62)|raw  }}</p>
                    <h4><a style="color: black"  href="{{ path('chambre_show', {'id' : entity.id}) }}">{{ entity.prix }} <b>FCFA</b></a></h4>
                    <div class="items">
                        <li style="margin: 1%;" title="wifi"><span class="glyphicon glyphicon-signal"> </span></li>
                        <li style="margin: 1%;" title="Café"><span class="glyphicon glyphicon-glass"> </span></li>
                        <li style="margin: 1%;" title="Téléphone"><span class="glyphicon glyphicon-phone-alt"> </span></li>
                        <li style="margin: 1%;" title="Clim"><span class="glyphicon glyphicon-equalizer"> </span></li>
                        <li style="margin: 1%;" title="Déjeuner"><span class="glyphicon glyphicon-cutlery"> </span></li>
                    </div>
                </div>
            {% endfor %}
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset('http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/alphabet.js')}}"></script>#}
    {#<script src="{{ asset('http://s3.amazonaws.com/codecademy-content/courses/hour-of-code/js/bubbles.js')}}"></script>#}
    {#<script>#}
        {#var myName = "Indra Hotel";#}

        {#var red = [0, 100, 63];#}
        {#var orange = [40, 100, 60];#}
        {#var green = [75, 100, 40];#}
        {#var blue = [196, 77, 55];#}
        {#var purple = [280, 50, 60];#}
        {#var letterColors = [red, orange, green, blue, purple];#}

        {#drawName(myName, letterColors);#}

        {#if(10 < 3)#}
        {#{#}
            {#bubbleShape = 'square';#}
        {#}#}
        {#else#}
        {#{#}
            {#bubbleShape = 'circle';#}
        {#}#}

        {#bounceBubbles();#}
    {#</script>#}
{% endblock %}