{% extends 'baseClient.html.twig' %}
{% block title %}INDRA Hotel | {{ entity.nom }} {% endblock %}

{% block body %}
    <div class="container">
        <div class="main">
            <div class="details">
                <a href="#"><h2>{{ entity.nom }}</h2></a>
                <div class="det_text">
                    <p class="para">{{ entity.description }} </p>
                </div>
                <div class="det_pic">
                    <ul class="gridder">
                        {% for image in entity.gallery.image %}
                            <li class="gridder-list" data-griddercontent="#content{{ loop.index }}">
                                <img width="600px" height="200px"  src="{{ app.request.basePath }}{{ vich_uploader_asset(image, 'imageFile') }}" />
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% for image in entity.gallery.image %}
                    <div id="content{{ loop.index }}" class="gridder-content">
                        <img width="1094px" height="417px" src="{{ app.request.basePath }}{{ vich_uploader_asset(image, 'imageFile') }}" alt="" />

                    </div>
                {% endfor %}
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/jquery-gridder/dist/js/jquery.gridder.min.js')}}"></script>
    <script>
        $('.gridder').gridderExpander({
            scroll: false,
            scrollOffset: 30,
            scrollTo: "panel",                  // panel or listitem
            animationSpeed: 400,
            animationEasing: "easeInOutExpo",
            showNav: true,                      // Show Navigation
            nextText: "<i class='fa fa-arrow-right'></i>",                   // Next button text
            prevText: "<i class='fa fa-arrow-left'></i>",               // Previous button text
            closeText: "<i class='fa fa-times'></i>",                 // Close button text
            onStart: function(){
                //Gridder Inititialized
            },
            onContent: function(){
                //Gridder Content Loaded
            },
            onClosed: function(){
                //Gridder Closed
            }
        });
    </script>
{% endblock %}